# Node modules (si usas npm)
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencias empaquetadas
package-lock.json
yarn.lock

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de editor/IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Archivos de compilación/dist
dist/
build/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de editor/IDE
.vscode/
.idea/
